@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('http://fonts.cdnfonts.com/css/whitney-2');

/*** Mixins & Default Styles ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aba9a9;
}
/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
  width: 100vw;
  height: 30vh;
  background: white;
  display: flex;
  position: fixed;
  transition: all 0.5s;
  z-index: 69;
}
header.shadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.25);
}
header.scrolled {
  height: 20vh;
}
/*** Navigation Styles ***/
nav {
  width: 100vw;
  height: 125px;
  background: linear-gradient(
    90deg,
    rgba(235, 51, 73, 1) 0%,
    rgba(244, 92, 67, 1) 100%
  );
  top: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  border-radius: 5px;
  transition: all 0.5s;
  z-index: 69;
}
nav.navShadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.6);
  height: 100px;
}
nav.navShadow #word-mark {
  opacity: 0;
}
#brand,
#menu,
ul {
  display: flex;
  align-items: center;
}
#brand {
  padding-left: 40px;
}
#logo {
  background-image: url("../assets/AbedaCropped.png");
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
#word-mark {
  background-image: url("../assets/AbedaText.png");
  width: 85px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15px;
  opacity: 1;
  transition: all 0.3s;
}
/*** Menu Styles ***/
#menu {
  justify-content: flex-end;
  padding-right: 10px;
}
ul {
  list-style-type: none;
}
li {
  margin-left: 20px;
}
li a {
  width: 105px;
  height: 26px;
  background: #fff;
  display: block;
  border-radius: 90px;
  text-align: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #1b1212;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s;
}
li a:hoverv {
  transform: scale(1.05);
}
#menu-toggle {
  width: 55px;
  height: 55px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  transform: translateY(-7px) rotate(-45deg);
}
.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}
/*** Hero Section Styles ***/
#hero-section {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -220px;
  transition: all 0.5s;
}
#hero-section.scrolled {
  margin-top: -285px;
}
#head-line {
  width: 520px;
  height: 30px;
  border-radius: 90px;
  position: absolute;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 2.125rem;
  color: black;
}
.category {
  height: 30px;
  border-radius: 90px;
  width: 200px;
  position: absolute;
  left: 50.5%;
  bottom: 350px;
  transform: translate(-50%, 0);
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  color: grey;
}
h2 {
  position: absolute;
  transform: translateX(50%, -50%);
  bottom: 200px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  color: white;
}
#heading {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  position: relative;
  bottom: 234px;
  left: 10%;
  transform: translateX(50%, -50%);
}
/*** Section Styles ***/
section {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  overflow: hidden;
}
section:nth-child(odd) {
  background: #36393f;
}
section:nth-child(even) {
  background: #fff;
}
/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 767px) {
  #menu-toggle {
    display: flex;
  }
  ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    background: grey;
    position: absolute;
    top: 160px;
    transform: translate();
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
  }
  ul.showMenu {
    height: 450px;
  }
  ul.showMenu li {
    height: 80px;
    opacity: 1;
    visibility: visible;
  }
  li {
    width: 50%;
    height: 80px;
    float: left;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    transition: all 0.3s 0.1s;
  }
  li:first-child,
  li:nth-child(2) {
    margin-top: 80px;
  }
  #head-line {
    transform: scale(0.8);
  }
  #usage {
    width: 85%;
  }
}
/*** Usage Blocks ***/
#usage {
  height: 30px;
  background-color: #40444b;
  border-radius: 10px;
  height: 55px;
  position: absolute;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 1.25rem;
  color: black;
  z-index: 3;
  top: 350px;
}
.args {
  background-color: #18191c;
  width: fit-content;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  color: lightgray;
  position: absolute;
  top: 25%;
}
h3 {
  position: absolute;
  padding-left: 15px;
  top: 28%;
  left: 8%;
  color: #dbd9d9;
  font-family: 'Whitney', sans-serif;
  font-size: 20px;
}
.PlusIcon {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 3.5%;
  margin-top: 4%;
}
.images {
  position: relative;
  width: 300px;/*Or whatever you want*/
}

.images img {
  position: relative;
  left: -25%;
  display: block;
  padding-top: 70px;
}
.img1 {
  position: relative;
  top: 25px;
}
.dwn-arrow {
  transform: rotate(90deg);
}
.info {
  height: 30px;
  border-radius: 90px;
  width: 200px;
  position: absolute;
  left: 73.5%;
  bottom: 15px;
  transform: translate(-50%, 0);
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  color: #adadad;
}